:root {
    --primary-bg: #F5F5F5;
    --color-grey: #343232;
    --color-light-shadow: #f8cfa9;
    --color-hover-grey: #424242;
    --color-hover-light-grey: #dbd7d7;
    --color-avatar-bg: #969696;
    --color-highlight-orange: #ff3d00;
}