@import url('./typography.css');
@import url('./colors.css');
@import url('../components/avatar/avatar.css');
@import url('../components/alert/alert.css');
@import url('../components/badge/badge.css');
@import url('../components/button/button.css');
@import url('../components/card/card.css');
@import url('../components/image/image.css');
@import url('../components/input/input.css');
@import url('../components/text/text.css');
@import url('../components/list/list.css');
@import url('../components/navigation/navigation.css');
@import url('../components/modal/modal.css');
@import url('../components/rating/rating.css');
@import url('../components/snackbar/snackbar.css');
@import url('../components/grid/grid.css');
@import url('../components/slider/slider.css');

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg);
}

.primary-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
}

.secondary-container {
    display: flex;
    margin: 3rem auto;
    width: 75%;
}

.secondary-container-body {
    margin: auto 1.5rem;
}

.secondary-body-head h1 {
    margin: 0;
}

.secondary-body-size-list {
    width: 12.5rem;
}

.secondary-body-size-list li{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

.secondary-content {
    margin: 5rem 0.5rem;
}

.secondary-content h3 {
    font-size: 1.4rem;
}

.container-av {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.alert-container {
    width: 50%;
}

.radio-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.secondary-content-sample-code {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.secondary-content-sample-code iframe {
    width: 1000px; 
    height: 250px; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

/* Modal sample */

.secondary-content-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.secondary-content-demo-btn {
    padding: 0.5rem 1rem;
    margin: auto 1rem;
    background-color: transparent;
    border: 1px solid var(--color-hover-grey);
    border-radius: 0.2rem;
    box-shadow: 5px 5px 5px var(--color-hover-light-grey);
    width: 25%;
    text-transform: uppercase;
    color: var(--color-grey);
}

.secondary-content-demo-btn:hover {
    background-color: var(--color-hover-grey);
    color: var(--color-hover-light-grey);
}

.modal-sample {
    display: none;
}

.modal-active {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: var(--color-modal-transparent-bg);
}

/* Snackbar */
.snackbar-sample {
    display: flex;
    justify-content: center;
}

/* Rating */

.rating-container-display input[type=checkbox]{
    display: none;
}

.rating-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rating-sample .rating-form button {
    padding: 0.5rem 1.5rem;
    margin: 1rem auto;
}

.rating-sample .rating-form button:hover {
    padding: 0.5rem 1.5rem;
    margin: 1rem auto;
    background-color: var(--color-grey);
    color: var(--primary-bg);
}

/* Grid */

.grid-50-50 .grid-image-asset {
    width: 100%;
    max-width: 350px;
}

.grid-50-50 {
    box-shadow: 5px 5px 5px var(--color-hover-light-grey);
}

.grid-item-left {
    background-color: var(--color-hover-light-grey);
    padding: 1rem;
}

.grid-col-3 .grid-image-asset {
    width: 100%;
    max-width: 250px;
}

.grid-col-3 {
    box-shadow: 5px 5px 5px var(--color-hover-light-grey);
}

/* Slider */
.slider-output-div {
    display: flex;
}

.slider-output-div .slider-value {
    margin: auto 0.25rem;
}

.highlight {
    color: var(--color-highlight-orange);
}

.send-to-next {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.send-to-next a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 1440px) {
    
    .sidebar-nav {
        flex: 0 0 150px;
    }

    .primary-container {
        margin: 0.5rem;
    }

    .secondary-container {
        margin: 3rem auto;
        width: 75%;
    }

    .secondary-container-body {
        margin: auto;
        width: 75%;
    }

    .container-button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-button button {
        margin: 0.5rem;
    }

    .secondary-content-sample-code iframe {
        width: 800px; 
        height: 250px; 
        border: 0; 
        transform: scale(1); 
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .primary-container {
        margin: 1rem;
    }

    .sidebar-nav{
        display: none;
    }

    .secondary-container {
        margin: 1rem;
        width: 100%;
    }
    
    .secondary-container-body {
        margin: 0.5rem;
        width: 90%;
    }

    .secondary-content {
        margin: 2.5rem 0.25rem;
    }

    .container-button {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        justify-content: center;
    }

    .container-button button {
        margin: 0.5rem;
    }

    .alert-container {
        width: 100%;
    }

    .card {
        display: flex;
    }

    .card-container {
        width: 100%;
    }

    .card-img-horizontal {
        align-items: center;
        padding-left: 0.5;
    }

    .card-img-horizontal .card-buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .card-img-horizontal .card-buttons button {
        margin-bottom: 0.25rem;
    }

    .card-img-horizontal .card-head, .card-img-horizontal .card-body {
        margin: 0;
        padding-bottom: 0.25rem;
    }

    .card-image {
        width: 100px;
        height: auto;
    }

    .secondary-content-sample-code {
        padding: 0;
    }
    
    .secondary-content-sample-code iframe {
        width: 650px; 
        height: 250px; 
        border: 0; 
        transform: scale(1); 
        overflow: hidden;
    }

    .send-to-next {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 600px) {

    html, body {
        margin: 0;
        padding: 0;
    }

    nav {
        margin: 0.5rem;
    }

    .primary-container {
        margin: 0;
    }

    .sidebar-nav{
        display: none;
    }

    .secondary-container {
        margin: 1rem;
    }
    
    .secondary-container-body {
        margin: 0.5rem;
    }

    .secondary-content {
        margin: 2.5rem 0.25rem;
    }

    .container-button {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .container-button button {
        margin: 0.5rem;
    }

    .radio-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .checkbox-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .secondary-content-sample-code {
        padding: 0;
    }
    
    .secondary-content-sample-code iframe {
        width: 350px; 
        height: 250px; 
        border: 0; 
        transform: scale(1); 
        overflow: hidden;
    }

    /* Modal and after*/
    .secondary-content-btn-container {
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .secondary-content-btn-container .secondary-content-demo-btn {
        width: 70%;
        margin: 0.5rem auto;
    }

    .send-to-next {
        padding-top: 1rem;
    }

    /* Snackbar */
    .snackbar-sample .snackbar-body {
        width: 100%;
        max-width: 250px;
    }

    /* Rating */
    .rating-container-display input[type=checkbox]{
        display: none;
    }
}