nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

nav a {
    color: var(--color-hover-grey);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.nav-right {
    display: flex;
}

.nav-menu {
    display: none;
}

.nav-menu-icn {
    display: none;
    z-index: 2;
    border: none;
    color: var(--color-grey);
    background: transparent;
    cursor: pointer;
}

.nav-icn-menu {
    padding: 0.125rem;
}

.nav-icn-close {
    display: none;
    color: var(--primary-bg);
    padding: 0.125rem;
}

.nav-menu-list {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: var(--color-grey);
    color: white;
    list-style: none;
    padding-top: 4rem;
    margin: 0;
}

.nav-menu-item {
    margin: 1rem auto;
}

.nav-menu-link {
    color: var(--primary-bg);
    font-size: 1.2rem;
}

.nav-menu-active {
    transform: translateY(0);
}

/* Media Queries */

@media screen and (max-width: 768px) {

    .nav-right .nav-icn {
        font-size: 1.8rem;
    }

    .nav-menu {
        display: flex;
    }
    
    .nav-menu-icn {
        display: flex;
    }
}