nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1rem;
}

nav a {
    color: var(--color-hover-grey);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}