<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TI | Image</title>

    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/components.css">
</head>
<body>
    <div class="primary-container">
        <nav>
            <a href="../../index.html">TI</a>
        </nav>

        <div class="secondary-container">
            
            <!-- Components navigation -->
            <div class="sidebar-nav">
                <div class="sidebar-nav-header">
                    <a href="./avatar.html">Components</a>
                </div>
                
                <ul class="sidebar-nav-items">
                    <li>
                        <a href="../avatar/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="../alert/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="../badge/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="../button/button.html">Button</a>
                    </li>
                    <li>
                        <a href="../card/card.html">Card</a>
                    </li>
                    <li class="active">
                        <a href="../image/image.html">Image</a>
                    </li>
                    <li>
                        <a href="../input/input.html">Input</a>
                    </li>
                    <li>
                        <a href="../text/text.html">Text</a>
                    </li>
                </ul>
            </div>

            <!-- Image documentation body -->

            <div class="secondary-container-body">
                <div class="secondary-body-head">
                    <h1>Images</h1>
                    <p>
                        Images with TI are responsive by nature. You can use images in one of the following ways.
                    </p>
                </div>

                <hr>

                <div class="secondary-content">
                    <h3>Round Image</h3>
                    <div class="container-av">
                        <img src="../../assets/image/image.jpg" alt="image asset" class="img-round"/>
                    </div>
                    <p>
                        Round images can be implemented by simply adding <code>img-round</code> to the image element.
                        Please refer to the code snippet below for full usage information.
                    </p>
                    <div class="secondary-content-sample-code">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522.%252Flink-to-asset.jpg%2522%2520alt%253D%2522image%2520asset%2522%2520class%253D%2522img-round%2522%252F%253E"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>

                <div class="secondary-content">
                    <h3>Responsive Image</h3>
                    <div class="container-av">
                        <img src="../../assets/image/image.jpg" alt="image asset" class="img-responsive"/>
                    </div>
                    <p>
                        Responsive images resize with the window/parent size. They can be implemented by simply adding <code>img-responsive</code> to the image element.
                        <span class="highlight">Resize the window to see an example.</span> 
                        Please refer to the code snippet below for full usage information.
                    </p>
                    <div class="secondary-content-sample-code">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522.%252Flink-to-asset.jpg%2522%2520alt%253D%2522image%2520asset%2522%2520class%253D%2522img-responsive%2522%252F%253E"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>
                
                <div class="send-to-next">
                    <div class="prev"><a href="../card/card.html">Back To Cards</a></div>
                    <div class="next"><a href="../input/input.html">Go to Inputs</a></div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>