.rating-container input[type=checkbox]{
    display: none;
}

.rating-icn{
    color: var(--color-hover-light-grey);
}

.rating:checked + .rating-icn{
    color: var(--color-idle);
}

/* Media */
@media screen and (max-width: 600px) {
    .rating-container input[type=checkbox]{
        display: none;
    }
}